@use 'variaveis';

.header {
    padding: 1px 10%;
    margin: 0;
    background-color: #000000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        @media (max-width: 768px) {
            display: block;
            align-items: center;
            justify-content: center;
        }
    }
    &__logo {
        width: 170px;
        height: 120px;
        cursor: pointer;
        
        &__img {
            width: 100%;
            max-width: 80px;
        }
    }
    &__links {
        display: flex;
        
        @media (max-width: 768px) {
            display: block;
        }
        
        &__item {
            margin: 8px;
            }
        }
    }
    .button {
        margin-top: 10px;
        display: flex;
        width: 100%;
        height: 50px;
        font-weight: bold;
        font-size: 16px;
        color: variaveis.$corDoTexto;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding: 8px 16px;
        letter-spacing: 4px;
        border-radius: 8px;
        border: 1.5px solid #fff;
        
        &:hover {
            background-color: #fff;
            color: #000000;
        }
    }
