@use 'variaveis';

.header {
    padding: 1px 10%;
    margin: 0;
    background-color: #000000;

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 1vw;
        padding: 0 20px;
    }
    &__logo {
        width: 170px;
        height: 120px;
        
        &__img {
            width: 100%;
            max-width: 80px;
        }
    }
    &__links {
        display: flex;
        
        &__item {
            margin: 10px;
        }
    }
    .button {
        margin-top: 20px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        font-weight: bold;
        font-size: 16px;
        color: variaveis.$corDoTexto;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding: 8px 16px;
        letter-spacing: 1px;
        border-radius: 8px;
        border: 1.5px solid #fff;
    }
}