.header {
    padding:15px 10%;

    &__container {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 1vw;
        margin-bottom: 1px;
    }
    &__logo {
        width: 170px;
        height: 120px;
        
        &__img {
            width: 100%;
            max-width: 80px;
            
        }
    }
    &__links {
        display: flex;
        
        &__item {
            margin: 10px;
        }
    }
}