.header {
    padding: 1px 10%;
    margin: 0;

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 1vw;
        padding: 0 20px;
    }
    &__logo {
        width: 170px;
        height: 120px;
        
        &__img {
            width: 100%;
            max-width: 80px;
        }
    }
    &__links {
        display: flex;

        &__item {
            margin: 10px;
        }
    }
}