@use 'variaveis';

.home {
    padding: 80px 80px;
    display: flex;
    background-color:variaveis.$corDeFundoHome;

    &__text {
        margin: 80px;
        padding-bottom: 80px;
        display: block;
        font-weight: 600;
        text-transform: uppercase;

        h1 {
            padding-top: 12px;
            font-size: 43px;
            color: variaveis.$corDoTexto;
        }
        
        h2 {
            padding-top: 12px;
            font-size: 30px;
        }
    }
    &__image {
        display: grid;
        img {
            padding-top: 160px;
            width: 100%;
            max-width: 80%;
            cursor: pointer;
            }
        }
    }