@use 'variaveis';


.personagens {
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: variaveis.$corDeFundoSecundaria;
    color: variaveis.$corDoTexto;

    h1 {
        padding-bottom: 80px;

        @media (max-width: 768px) {
            font-size: 32px;
        }
    }

    .card__container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 20px;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            margin: 35px;
            width: 100%;
            max-width: 90%;
        }

        &__item {
            img {
                padding-bottom: 8px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                cursor: pointer;
                max-width: 90%;
                width: 100%;
            }

            .title--card {
                align-items: center;
                padding-top: 8px;
                padding-bottom: 8px;
                font-size: 24px;
                background-color: black;
                max-width: 90%;
                width: 100%;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                cursor: pointer;
                
                    &:hover {
                    background-color: #fff;
                    color: #000000;
                    }

                    p {
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        }
                    }
                }
            }
        }

