@use 'variaveis';

.sinopse {
    padding: 0 20%;

    color: variaveis.$corDoTexto;
    
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vw;
    }

    &__image {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding-bottom: 20px;
        letter-spacing: 1px;
    }
    h1 {
        font-size: 36px;
        padding-top: 80px;
        padding-bottom: 40px;
        display: center;
    }

    p {
        font-size: 20px;
    }
}