@use 'variaveis';
@use 'header';
@use 'home';
@use 'sinopse';
@use 'personagens';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    place-items: center;

    @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
    }
}

header {
    border-bottom: 2px solid #fff;
}
