@use 'variaveis';
@use 'header';
@use 'home';
@use 'sinopse';
@use 'personagens';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    place-items: center;
}

header {
    border-bottom: 2px solid #fff;
}
